<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> {{_ 'Admin'}}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-key"></i> {{_ 'Webhooks'}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    {{#when filter.webhook_active '===' '0'}}
        <h3 class="main-title">
            <i class="fa fa-key"></i>
            {{number total}} {{_ 'Inactive Webhooks'}}
            {{#if q.0}}
                {{_ 'matching'}} {{q.0}}
            {{/if}}
        </h3>
    {{else}}
        <h3 class="main-title">
            <i class="fa fa-key"></i>
            {{number total}} {{_ 'Webhooks'}}
            {{#if q.0}}
                {{_ 'matching'}} {{q.0}}
            {{/if}}
        </h3>
    {{/when}}

    <div class="clearfix mb-4 search-actions">
        <div class="btn-group" webhook="group" aria-label="...">
            <a class="btn btn-primary" href="?filter[webhook_active]=1">
                {{_ 'Active'}}
            </a>
            <a class="btn btn-danger" href="?filter[webhook_active]=0">
                {{_ 'Inactive'}}
            </a>
        </div>

        <div class="float-right">
            <a class="btn btn-success" href="/admin/webhook/create">
                <i class="fas fa-plus"></i> {{_ 'Create Webhook'}}
            </a>
        </div>
    </div>

    <form method="post">
        <div class="table-overflow">
        {{#if rows}}
            <!-- START: TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{_ 'Actions'}}</th>
                        <th>{{_ 'Webhooks'}}</th>
                        <th>{{_ 'Created'}}</th>
                        <th>{{_ 'Updated'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rows}}
                        <tr data-id="{{webhook_id}}">
                            <td>
                                {{#if ../filter.webhook_active}}
                                    <a class="text-purple" title="Copy" href="/admin/webhook/create/?copy={{webhook_id}}">
                                    <i class="fas fa-copy"></i></a>
                                    &nbsp;
                                    <a class="text-info" title="Edit" href="/admin/webhook/update/{{webhook_id}}">
                                    <i class="fas fa-edit"></i></a>
                                    &nbsp;
                                    {{#if webhook_flag}}
                                    <a class="text-dark">
                                        <i class="fas fa-lock"></i>
                                    </a>
                                    {{else}}
                                    <a class="text-danger" title="Remove" href="/admin/webhook/remove/{{webhook_id}}"
                                    class="text-danger remove"><i class="fas fa-times"></i></a>
                                    {{/if}}
                                {{else}}
                                    <a title="Restore" href="/admin/webhook/restore/{{webhook_id}}" class="text-success restore">
                                    <i class="fas fa-external-link-alt"></i></a>
                                {{/if}}
                            </td>
                            <td>
                                <a href="/admin/webhook/update/{{webhook_id}}">{{webhook_name}}</a>
                            </td>
                            <td>
                                {{date webhook_created 'Y-m-d H:i:s'}}
                            </td>
                            <td>
                                {{date webhook_updated 'Y-m-d H:i:s'}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <!-- END: TABLE -->
        {{else}}
            <!-- START: NO RESULTS -->
            <div class="alert alert-info no-results">
                <center>{{_ 'No Results Found'}}.</center>
            </div>
            <!-- END: NO RESULTS -->
        {{/if}}
        <ul class="pagination">
            {{#pager total range}}
            <li class="page-item {{#if active}}active{{/if}}"><a class="page-link" href="?{{href}}">{{page}}</a></li>
            {{/pager}}
        </ul>
    </form>
</div>
